<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template HTML</title>
</head>
<body>
  <header>
    ヘッダー
    <h1>ロゴ</h1>
    <nav>
      <ul>
        <li>リスト</li>
        <li>リスト</li>
        <li>リスト</li>
        <li>リスト</li>
      </ul>
    </nav>
  </header>
  <main>
    メインコンテンツ
    <section>
      <!-- <h2>１見出し</h2> -->
    </section>
    <section>
      <!-- <h2>２見出し</h2> -->
    </section>
    <section>
      <!-- <h2>３見出し</h2> -->
    </section>
    <section>
      <!-- <h2>４見出し</h2> -->
      <article>
        <!-- <h3>見出し</h3> -->
      </article>
      <article>
        <h3>見出し</h3>
      </article>
      <article>
        <h3>見出し</h3>
      </article>
    </section>


    <article>
      <h2>見出し</h2>
    </article>
    <article>
      <h2>見出し</h2>
    </article>
    <article>
      <h2>見出し</h2>
    </article>

  </main>
  <aside>
    ほそく
  </aside>
  <footer>
    フッター

  </footer>
</body>
</html>
