extends _layout.pug

block locals
  - var title = 'Hello, Pug!';

block content
  h1 Hello, Pug!!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maiores non voluptates incidunt dolorum, fuga, in praesentium qui asperiores ab animi a rerum rem, repellendus aperiam reiciendis quibusdam officiis tempore?
  //- img(src="../img/icon.png")
  //- img(src="../img/thumbnail.jpg")
